<section class="catalog">
    <div class="catalog-container-right">
        <div class="catalog-src-right">
            <h3 class="cataright">
        
    تعرف على  خدماتنا
             </h3>
             <img src="..\assets\images\PSILX13.png" alt="man looking at laptop" class="laptop-photos" class="man">
        </div>
    </div>

    <div class="catalog-container-left">
        <div class="catalog-srcr-left">
          <h3 class="cataleft">تعرف على الاعلام   
           </h3>
 <img src="..\assets\images\PSILX13.png" alt="man looking at laptop" class="laptop-photos" class="man">
        </div>
    </div>
</section>