<div
  class="service-card"
  [ngStyle]="{ 'background-image': updateImageSource(img) }"
  (click)="isOpened = !isOpened"
>
  <div class="title">
    <h1 class="title-text">{{ title }}</h1>
    <p class="title-text">{{ desc }}</p>
  </div>
</div>

<div class="stepper" *ngIf="isOpened">
  <div class="btns-title setpper-btns">
    <div class="btns steps-btns">
      <div class=" step-btn" [ngClass]="{'btn-selected': tab === 'form'}" (click)="tab = 'form'">
        <p>البيانات الشخصية</p>
      </div>
      <hr class="tab-line"/>
      <div class=" step-btn" (click)="tab = 'payment'" [ngClass]="{'btn-selected': tab === 'payment'}">
        <p>الدفع</p>
      </div>
      <hr class="tab-line"/>
      <div class=" step-btn" (click)="tab = 'confirm'" [ngClass]="{'btn-selected': tab === 'confirm'}">
        <p>التاكيد</p>
      </div>
    </div>
  </div>
  <div class="step-payment">

  </div>
  <div class="step-form" *ngIf="tab === 'form'">
    <div class="nothing" *ngIf="option === undefined">أي وصف يمثلك؟</div>
      <div class="btns-title">
        <div class="btns">
          <p class="btn" [ngClass]="{'btn-selected': option === 'personal'}" (click)="option = 'personal'">شخص</p>
          <p class="btn" (click)="option = 'organization'" [ngClass]="{'btn-selected': option === 'organization'}">منظمة</p>
          <p class="btn" (click)="option = 'company'" [ngClass]="{'btn-selected': option === 'company'}">شركة</p>
        </div>
      </div>

    <div class="btn-form personal" *ngIf="option === 'personal'">
      <label for="name">Your Name</label>
      <input type="text" name="name" id="name" />
    </div>

    <div class="btn-form company" *ngIf="option === 'company'">
      <label for="com">Company Name</label>
      <input type="text" name="name" id="com" />
    </div>

    <div class="btn-form organization" *ngIf="option === 'organization'">
      <label for="org">Organization Name</label>
      <input type="text" name="name" id="org" />
      <label for="a">Organization Name</label>
      <input type="text" name="a" id="a" />
      <label for="b">Organization Name</label>
      <input type="text" name="b" id="b" />
    </div>

    <div class="btns-title" *ngIf="option !== undefined">
      <div class="btns no-space">
        <p class="btn" >عودة</p>
        <p class="btn" >التالي</p>
      </div>
    </div>


  </div>
</div>
