<section class="bref">
  <div class="full-hight">
    <h1 class="title">انضم لنا في صناعة المستقبل</h1>
  </div>
  <div class="to-s">
    <a href="#services">
      <mat-icon
        aria-hidden="false"
        class="go-to-s"
        aria-label="Example expand_more icon"
        fontIcon="expand_more"
      ></mat-icon>
    </a>
  </div>
  <div class="full-hight p-t">
    <p class="desc desc-center">
      لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو
      أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد
      مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب
      أكس أيا كوممودو كونسيكيوات .
    </p>
  </div>
</section>
