<div class="artical righty-artical" *ngIf="index == 0 || index % 2 === 0">
  <div class="artical-text">
    <div class="text-box">
      <h1 class="text">{{ artical.title }}</h1>
      <p class="text">{{ artical.desc }}</p>
      <!-- <div class="learn-btn ">
        <a href="/{{ artical.id }}" class="text link-text">Learn more</a>
      </div> -->
    </div>
  </div>
  <div class="artical-image">
    <div class="image-box">
      <img src="{{ artical.img }}" alt="" class="image " />
    </div>
  </div>
</div>

<div class="artical lefty-artical" *ngIf="index != 0 && index % 2 !== 0">
  <div class="artical-text">
    <div class="text-box">
      <h1 class="text">{{ artical.title }}</h1>
      <p class="text">{{ artical.desc }}</p>
      <!-- <div class="learn-btn ">
        <a href="/{{ artical.id }}" class="text link-text">Learn more</a>
      </div> -->
      
    </div>
  </div>
  <div class="artical-image">
    <div class="image-box">
      <img src="{{ artical.img }}"  alt="" class="image " />
    </div>
  </div>
</div>
